
.book-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 280px;
    margin: 15px 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.10);

    
}

.book-card-rate-box {
    display: flex;
    flex-direction: column;
    width: 18px;
    margin-left: 5px;
    margin-top: 30px;
}

.book-card-top {
    width: 200px;
    height:190px;
    display: flex;
    justify-content: space-between;
    

}

.book-card-sample-img {
    width:170px;
    height:190px;
    border-top-right-radius: 10px;
}

.book-card-bottom {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 25px;
    text-align: right;
    margin-bottom: 30px;

}

.book-card-name-div {
    flex-direction: column;
    width:200px;
    display: flex;
    text-align: right;
    height: min-content;
    align-items: center;

}

.book-card-name {
    display: flex;
    height: min-content;
    color: #000;
    font-family: Estedad;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-align: right;
    text-decoration: none;
    
}
.book-card-name:hover {
    color: #F39F74;
    
}

.book-card-author {
    color: #000;
    text-align: right;
    font-family: Estedad;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.book-card-button {
    display: flex;
}

.book-card-add-library {
    display: block;
    width: 200px;
    height: 40px;
    border-width: 0;
    background: #F39F74;
    border-radius: 7px;
    color: #F5F5F5;
    text-align: center;
    font-family: Estedad;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.book-card-add-library:hover {
    background-color: #f6b392;
}