.forgot-passowrd-container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.forgot-password-form-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0;
    gap: 158.667px;
    flex-shrink: 0;
    background-color: #489FCB;
}
.forgot-password-return-button{
    display: flex;
    width: 40px;
    background-color: #489FCB;
    border:none;
    margin-left: 5px;
    margin-top: 5px;
}
.forgot-password-form-header{
    color: #000;
    text-align: right;
    font-family: Estedad;
    font-size: 31.135px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 60px;
    
}
.forgot-password-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left:25%;

}
.forgot-password-email{
    display: flex;
    padding: 15px 15px 18px 200px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5.333px;
    border: 1.333px solid var(--light-bw-cbcbcb, #CBCBCB);
    background: var(--light-back-ffffff, #FFF);
    text-align: right;
    font-family: IRANSansX;
    font-size: 18.667px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-variant: all-small-caps;
    margin-bottom: 50px;

    

}

.forgot-password-submit{
    border-radius: 5.333px;
    border: 1.333px solid #F39F74;
    background: #F39F74;
    display: flex;
    padding: 15px 15px 18px 200px;
    flex-shrink: 0;
    color: #FFF;
    font-family: IRANSansX;
    font-size: 18.667px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-variant: all-small-caps;
}
.forgot-password-picture-container{
    width:100%;
    height: 100%;
}
.forgot-password-picture{
    width:100%;
    height: 100%;
}