
.main-signup {
    overflow: hidden;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #c9a679;
}

.signup-img {
    position: relative;
    width: 1537px;
    height: 100vh;
}

.signup-back-but {
    display: flex;
    position: absolute;
    border-radius: 80cm;
    background-color: #489FCB;
    border: none;
    padding: 0;
    margin-bottom: 450px;
    margin-right: 470px;
}

.signup-back-but:hover {
    background-color: #92c6e0;
}

.form-body{
    display: flex;

    position: absolute;

    flex-direction: column;
    width: 600px;
    height:fit-content;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #d3a070;
    background: #489FCB;
    justify-content: center;
    align-items: center;
}

.form-header{
    width: 400px;
    display: flex;
    color: #000;
    font-size: 24px;
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;

}

.input{
    display: flex;
    width: 400px;
    padding: 1rem;
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid var(--light-bw-cbcbcb, #CBCBCB);
    background: var(--light-back-ffffff, #FFF);
    color: #bf5521;
    text-align: right;
    font-size: 17px;
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.signUp-label{
    width: 60%;
    display: flex;
    color: #000;
    text-align: right;
    font-size: 14px;
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 200;
    line-height: 26px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 220px;

}
.singUpCheckbox{
    display: flex;
    margin-inline: 5px;
    padding:0px ;
    width: 20px;
    background-color: #489FCB;
    accent-color: #489FCB;
   
  }

.submit-button{
    display: flex;
    width: 420px;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
    background: #F39F74;
    color: var(--ffffff, #FFF);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: IRANSansX;
}
.submit-button:hover{
    background-color: #f6b392;
}

.signup-login-route {
    display: inline;
    text-align: right;
    font-family: IRANSansX;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-right: 400px;
    width: 600px;
    opacity: 80%;
    margin-top: 0;
    margin-bottom: 20px;
}

.signup-to-login-link {
    padding-right: 20px;
    padding-left: 30px;
    text-decoration: none;
    color: #41444B;
}

.signup-to-login-link:hover {
    color: #F39F74;
}

